body {
    display: block;
    overflow-y: scroll;
    padding-bottom: 20%;
    background-color: rgba(212, 195, 195, 0.199);
    color: rgba(36, 36, 35, 0.781);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}       

h1, h2 {
    position: relative;
}

#linkcontainer {
    position: relative;
    display: inline-flex;
    text-align: left;
    right: 40%;
    margin-top: 75px;
    background-color: rgba(203, 203, 203, 0.507);
    width: 20%;
    border-radius: 10px;
}

#personcontainer {
    background-color: rgb(236, 244, 244);
}
.formgeneral {
    position: relative;
    display: inline-block;
    top: 100px;
    padding-top: 2em;
    padding-bottom: 7em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: groove;
    border-color: rgba(138, 137, 137, 0.212);
    border-width: 1.0px;
}

#loginform {
    width: 22%;
}

#signupform {
    width: 35%;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(92, 93, 94, 0.505);
    color:  rgba(232, 232, 232, 0.783);
    padding: 1em;
    font-size: small;
}

#addpersoninfo {
    position: relative;
    display: block;
    font-family: cursive;
    padding-top: 1em;
    padding-bottom: 2em;
    color: rgba(50, 52, 53, 0.749);
}

#socialmediacontainer {
    position: relative;
    display: inline-block;
    left: 30%;
}

.socialmediaimgs {
    padding: 1px;
}
.buttongeneral {
    position: relative;
    display:inline-block;
    margin-top: 3em;
    padding-left: 3.0em;
    padding-right: 3.0em;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    color: rgba(82, 80, 80, 0.884);
    border-radius: 7px;
    border: 0em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

#loginbutton {
    background-color: #20ce0dbf;
}

#signupbutton {
    background-color: rgb(230, 107, 36);
}

#addbutton:hover {
    cursor: pointer;
}

.logintextinput {
    color: rgba(60, 59, 59, 0.575);
    font-size: small;
    padding: 0.5em;
    /*border-color: rgba(205, 206, 206, 0.235);*/
}

.registertextinput {
    color: rgba(60, 59, 59, 0.575);
    font-size: small;
    padding: 0.5em;
    margin: 0.5em;
    /*border-color: rgba(205, 206, 206, 0.235);*/
}
#textinputusername {
    margin-bottom: 1em;
}

#formborder {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    left: 0;
    width: 70%;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(172, 172, 172, 0.345);
    color: red;
}

.miscfootercontent {
    position: relative;
    display: inline-block;
    left: 30em;
    font-size: smaller;
    padding-left: 2.5em;
}

div > #langfooterdetails {
position: relative;
display: block;
left: 12.8em;
}

#resetpassword {
    position: relative;
    display: block;
    top: 0.5em;
    color: blue;
}

#mypagelink {
    color: greenyellow;
}

#loggedinlistitems {
    color: aqua;
}

.navbarlinks {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgba(94, 97, 97, 0.993);
    padding: 1px;
}

.navbarlinks:hover {
    color: rgb(237, 245, 245);
}

ul {
    position: relative;
    display: block;
    left: -15px;
    list-style: none;
}

#signuplink {
    position: relative;
    display: block;
    left: 0;
    font-size: x-small;
    color:blue
}

#companycontainer {
    position: relative;
    display:inline-block;
    left: 15em;
}

#companyname {
    position: relative;
    display: block;
    color:rgba(53, 156, 156, 0.993);
}

.pagecontent {
    position: relative;
    font-size: small;
}

.choosegenderradio
{
    position: relative;
    display: inline-block;
    border: 0.5px solid grey;
    padding: 7px;
    border-radius: 5px;
    border-color: lightgray;
    margin: 5px;
    font-size: small;
}

#registerpasswordinput {
    position: relative;
    display:block;
    left: 19px;
}

#userspecificnav {
    position: relative;
    display:block;
    text-align: left;

    /*background-color: rgba(223, 215, 222, 0.315);*/
    /*border-radius: 10px;*/
    width: fit-content;
    /*border-bottom: 0.5px solid gainsboro;*/
    /*border-top: 0.5px solid gainsboro;*/
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-right: 0.5px solid rgba(197, 197, 197, 0.699);
    margin-left: 25px;
}

.userspeclinks {
    position: relative;
    display: block;
    text-decoration: none;
    color: rgb(35, 35, 35);
    background-color: #ebebeb;
    padding: 5px;
    margin: 0.5em;
    border-radius: 10px;
}

.loggedinpagelayout {
    position: absolute;
    display: inline-flex;
    top:50%;
    left: 25%;
    text-align: left;
}

.inputexplanation {
    position: relative;
    display: inline;
    margin-left: 2px;
    font-size: x-small;
    color: rgb(4, 255, 21);
    width: fit-content;
    cursor: pointer;
}
.inputinfobox {
    position: absolute;
    display: block;
    color: black;
    z-index:1;
    background-color: rgb(224, 99, 99);
    padding: 8px;
    left:55%;
    border-radius: 3px;
}

#hamburger {
    position: relative;
    display: block;
    cursor:pointer;
    width: fit-content;
    left: 20px;
    margin-top: 10px;
}

#logoutbtn {
    position: relative;
    display: flex;
    margin-left: 1.5em;
    background-color: rgb(211, 46, 46);
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}

#settingspanel {
    background-color: rgb(229, 230, 231);
    border-radius: 10px;
    width: 75%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#settingspanel > nav > ul > li > a{
    position: relative;
    display: flex;
    text-decoration: none;
    color: gainsboro;
    background-color: slategrey;
    margin: 10px;
    border-radius: 10px;
    padding: 7px;
}

#darkbuttonouter {
    position: relative;
    display: inline-flex;
    left: 40em;
    padding: 8px 24px ;
    background-color: rgb(81, 81, 81);
    border-radius: 10px;
}

#darkbuttonouter:hover {
    cursor: pointer;
}

#darkbuttonouter > :first-child {
    position: absolute;
    display: inline-flex;
    background-color: rgb(98, 101, 101);
    padding: 5px 15px;
    width: 10%;
    left: 25px;
}

#darkbuttonouter > :last-child {

    position: relative;
    display: inline-flex;

    padding: 6px 15px;
    background-color: red;
    border-radius: 10px;
}

#darkmodetext {
    position: relative;
    display: flex;
    left: 40.5em;
    color: rgb(98, 111, 125);
}

#passwordinfo {
    top: -3.7em;
    margin-left: 2em;
}

